.Darkblue-button {
    background-color: color(Darkblue);
    height: 50px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.pink-button {
    background-color: color(pink);
    height: 50px;
    width: 200px;
    color: #fff;
    font-weight: bold;
    border: none;
}

.email-button {
    height: 42px;
    width: 300px;
    padding-left: 20px;
}