$color:( primary:#06101f, DarkBlue:#273c5a, pink:#f9425f, font-col: #38465b);
$colors:#06101f;
$padding:200px;
$maxMobile: "(max-width:767px)";
$maxSmall: "(max-width:991px)";
$minSmall: "(min-width:768px)";
$minMedium:"(min-width:992px)";
$minLarg:"(min-width:1200px)";